
body{
    padding: 150px;
    justify-items: center;
    background-color: aqua;
}
.tileBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    
}
.Btn input,button{
    margin-bottom: 10px;   
    
}
.Btn input{
    width:50px;
}
.mainDiv{
    display: flex;
    flex-flow: row wrap;
    max-width: 960px;
    border: 1px solid black;
    background-color: white   
}
.gridItem{
    flex: 0 0 0%;
}
